/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;800&display=swap');

/* layout */
:root {
  --primary: #f280ff;
  --error: #e71919;
}

body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Nunito";
}

header {
  background: #fff;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #333;
  text-decoration: none;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

.recipe-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
}

.recipe-image {
  align-self: center;
  max-width: 100%;
  margin-bottom: 10px;
}

.recipe-image img {
  max-height: 300px;
  width: auto;
}

.recipe-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.recipe-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

.recipe-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* new recipe form */
label,
input {
  display: block;
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

.button-group button {
  margin-right: 10px; /* Adds space to the right of every button */
}

.button-group button:last-child {
  margin-right: 0; /* Removes margin from the right of the last button */
}

.cancel-btn {
  margin-left: 20px; /* Specifically adds more space to the left of the Cancel button */
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  border: 1px solid var(--error);
}

.action-icon:hover {
  color: #ff0000;
}

/* navbar */
nav {
  display: flex;
  align-items: center;
}

nav a {
  margin-left: 10px;
}

nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
}

/* auth forms */
form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

/* LogMeal page styling */
.log-meal {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-family: "Nunito", sans-serif;
}

.log-meal h2, .log-meal h3 {
  color: var(--primary);
  text-align: center;
}

.log-meal form {
  margin-top: 20px;
  text-align: center;
}

.log-meal input[type="file"], .log-meal button {
  border: 2px solid var(--primary);
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 20px;
  display: block;
  width: calc(100% - 20px); /* Adjusts width to account for padding */
  cursor: pointer;
  background: var(--primary);
  color: white;
  border-radius: 4px;
}

.log-meal button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px auto;
}

.error, .loading {
  color: var(--error);
  background-color: #ffecec;
  border-left: 5px solid var(--error);
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
}

.loading {
  color: var(--primary);
  background-color: #f1f1f1;
  border-color: var(--primary);
}

/* Styling Nutritional Information Display */
.nutrition-info {
  margin-top: 20px;
  padding: 15px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.nutrition-info h3 {
  margin-bottom: 10px;
}

.nutrition-info p, .nutrition-info li {
  font-size: 16px;
  line-height: 1.5;
}

.nutrition-info ul {
  list-style-type: none;
  padding: 0;
}

.nutrition-info strong {
  color: #333;
}

/* Enhancements for file input to make it visually consistent */
.log-meal input[type="file"]::-webkit-file-upload-button, 
.log-meal input[type="file"]::file-selector-button {
  background: var(--primary);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
